asgiref==3.3.1
autopep8==1.5.4
Django==3.1.5
django-cors-headers==3.6.0
django-tastypie==0.14.3
Pillow==8.1.0
pycodestyle==2.6.0
PyPDF2==1.26.0
python-dateutil==2.8.1
python-mimeparse==1.6.0
pytz==2020.5
rstr==2.2.6
six==1.15.0
slugify==0.0.1
sqlparse==0.4.1
toml==0.10.2
